.dre { float: right; width: 60%; border-left: 1px solid rgb(235, 235, 235); } 
.esq { float: left; width: 40%; } 
.dre  .old-price { display: block!important;font-size: 12px!important; }
.product-price { font-weight: bold !important; }

.columns-container-bottom { 
	background-image: url('../img/bgbottom.jpg');
	background-repeat: repeat-x;
	background-position: top center;
	background-color: #e1e1e1;
}


#middlecolumns, #additionalcolumn, #topcolumns { background: #FFF!important; }
#subtopcolumns { background: transparent!important; }
#middlecolumns.container, #additionalcolumn.container, #topcolumns.container, #subtopcolumns.container {
padding-left: 15px;
padding-right: 15px;	
padding-top: 20px;
} 

.columns-container-top, #index .columns-container-top { padding-bottom: 0px; padding-top: 30px; }

#index #middlecolumns.container, #index  #additionalcolumn.container, #index  #topcolumns.container, #subtopcolumns.container { padding-top: 0px; }


#index #htmlcontent_top { 
margin-bottom: 0px;
margin-top: 15px !important;
 }
#index #top_column { padding-top: 20px; }
#index .columns-container-middle { padding-top: 0px; }

.financia { 
height: 35px;
display: none;
clear: both;
margin-top: 3px;
 } 
.financia .esq { 
background: rgb(254, 211, 135) none repeat scroll 0% 0%;
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 12px;
height: 100%;
text-align: left;
line-height: 32px;
 } 
.financia .esq span {  
color: #cc7d03;
font-size: 18px;
line-height: normal;
 } 

 .financia .esq span span {
display: block;
font-size: 9px;
font-weight: normal;
margin-top: -10px;
 }
.financia .dre { 
background: rgb(0, 0, 0) none repeat scroll 0% 0%;
color: rgb(239, 131, 0);
height: 100%;
border-left: 0px none;
line-height: 32px;
font-size: 12px;
text-align: center;
} 
.financia .dre span { color: #fff; }

.baix {
color: #aeaeae;
margin: 1px 5px;
font-size: 11px;
display: none;		
}

.triang {
	width: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-right: 17px solid black;
	float: left;
	background: #FED387;
	height: 35px;
	position: absolute;
	right: 46%;

}

.esq .price-percent-reduction { line-height: 25px; }
.esq .descuento {
	font-size: 12px !important;
	display: block!important;
	font-weight: bold;
	color: rgb(255, 155, 0);	
}

.txt1 {
float: left;
width: 85px;
text-align: center;
}

.txt2 {
float: left;
width: 40px;
text-align: center;
}

.old-price span {
  text-decoration: line-through !important;
  font-size: 12px !important	
}

.price.product-price  { line-height: 22px!important; color: #ff9b00!important; font-size: 24px!important; }


.price.product-price span, .iva {
font-size: 11px !important;
display: block !important;
color: rgb(174, 174, 174);	
}

.old-price.product-price { line-height: 15px!important; }


.pb-center-column { width: 38%; }

.pb-center-column h1 {
    color: #000!important;
    font-family: 'Open Sans', sans serif !important;
    font-size: 18px!important;
    border: 0px!important;
    font-weight: normal!important;
    margin-bottom: 0px!important;
}
.pb-right-column { 
	padding: 0px;
	width: 27%;
	float: right;
	background: #f5f1ce;
	border-radius: 5px;
	border: 1px solid rgb(204, 204, 204);
	padding-top: 20px;
}

.box-cart-bottom {
    border-left-color: transparent;
    display: block;
    border: 0px;
    background: transparent;
}
@media (min-width: 0px) and (max-width: 978px) {
.pb-right-column, .pb-center-column { width: 98%; } 
}
@media (min-width: 979px) and (max-width: 1184px) { 
.pb-right-column, .pb-center-column { width: 65%; }     
}

@media (min-width: 0px) and (max-width: 1184px) { 
	.linia .txt1, .linia .txt2 { width: 50%; } 
	.linia .triang { left: 48%; }
}

img { height: auto; }

.homenews { 
	position: relative;
	margin-bottom: 18px;
	clear: both;
	display: block; 
	min-height: 545px; 
	background-color: #214fa1;
	padding: 0 0 30px 0
} 
#bottomcolumns { padding-bottom: 30px; }

.footer-wrapper .footer_topline_bg {
    background-color: #e1e1e1!important;
}

#livesite_action_buttons { display: none!important; }

#contacto {
	background: rgb(236, 128, 28) none repeat scroll 0% 0%;
	padding: 12px 33px;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
	bottom: 0px;
	position: fixed;
	right: 30px;
	z-index: 99;	
}

.botocarusel {
	width: 30px;
	height: 30px;
	border: 1px solid #CCC;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border-bottom: 3px solid #CCC;
	line-height: 30px;
	border-width: 1px 1px 3px;
	border-style: solid;
	border-color: rgb(212, 212, 212);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: rgb(212, 212, 212)!important;
	cursor: pointer;
	margin: 0px 1px;
}

.botocarusel i {
    height: auto!important;
    width: auto!important;
    display: block!important;
    left: 0!important;
    bottom: 0!important;
    position: relative!important;
    border: 0px!important;
    background: transparent !important;
    border-color: transparent !important;
    top: 5px!important;
}

.fletxes span::after {
    height: auto !important;
    width: auto !important;
    left: 0;
    display: block !important;
    content: " ";
    position: relative;
    bottom: 0;
    background: transparent !important;
}

.botocarusel:hover {
	color: #666!important;
}

.fletxes { float:right; text-align: right; }

.fletxes span {
	margin-left: 1px!important;
	font-size: 16px!important;
	line-height: 40px!important;
}

.fletxes:before, .botocarusel:before {
	background: transparent!important;
}

.sf-menu > li.sfHover > a, .sf-menu > li > a {
	border: none !important
}

.sf-menu > li > ul > li > a:hover, .sf-menu li li li a:hover {
    color: #000 !important;
}

.sf-menu > li > a.menuhomelink {
    background: none !important;
    border-bottom: 4px solid #e5e5e5;
    border-radius: 5px 0 0 5px;
    line-height: 0;
    padding: 20px 22px 21px;
}


#textcoments { margin: 30px 15px 40px; }
#textcoments p { 
text-align: justify;
font-size: 14px;
 }


 .sf-menu li li li a:before { color: transparent!important; }
 .bx-controls { display: none; }
 #new_account_form div.selector, #opc_account_form div.selector { width: 100%!important; }

#header_logo h1 { margin: auto; text-indent: -99999px; }

.sf-menu li ul.submenu-container { width: 380px; left: auto; }
.sf-menu li ul.submenu-container::before { width: 0px; }
.sf-menu > li > ul > li {float: left;width: 100%;margin-bottom: 0px;padding: 10px 0 5px; border-bottom:1px dotted;}
.sf-menu > li > ul > li > a {font-size: 16px !important;line-height: 12px !important;}






#index #blockbestsellers .productesblock_bestsellers ul.rv_carousel {
margin-left: -15px;
margin-right: -15px;
}
#index #blockbestsellers .productesblock_bestsellers ul.product_list.tab-pane > li {
padding-bottom:40px!important; 
padding-left: 15px;
padding-right: 15px;
}		

@media (min-width:480px) and (max-width:991px) {
#index #blockbestsellers .productesblock_bestsellers ul.product_list.grid > li:nth-child(2n+1) {
clear:left;
} }	

@media (min-width:992px) {
#index #blockbestsellers .productesblock_bestsellers ul.product_list.grid > li {
width:25%;
}
#blockbestsellers .productesblock_bestsellers ul.product_list .functional-buttons div.compare a:before,
#blockbestsellers .productesblock_bestsellers ul.product_list .functional-buttons div.wishlist a:before {
display:none!important;
}
#index #blockbestsellers .productesblock_bestsellers ul.product_list.grid > li:nth-child(4n+1) {
clear:left;
} }



#index #homefeatured .productesblock_homefeatured ul.rv_carousel {
margin-left: -15px;
margin-right: -15px;
}
#index #homefeatured .productesblock_homefeatured ul.product_list.tab-pane > li {
padding-bottom:40px!important; 
padding-left: 15px;
padding-right: 15px;
}		
@media (min-width:480px) and (max-width:991px) {
#index #homefeatured .productesblock_homefeatured ul.product_list.grid > li:nth-child(2n+1) {
clear:left;
} }	

@media (min-width:992px) {
#index #homefeatured .productesblock_homefeatured ul.product_list.grid > li {
width:25%;
}
#homefeatured .productesblock_homefeatured ul.product_list .functional-buttons div.compare a:before,
#homefeatured .productesblock_homefeatured ul.product_list .functional-buttons div.wishlist a:before {
display:none!important;
}
#index #homefeatured .productesblock_homefeatured ul.product_list.grid > li:nth-child(4n+1) {
clear:left;
} }

p.payment_module img { margin-right: 3px; }
p.payment_module p.imgs { display: inline-block; }

.cat_desc .lnk_more { text-align: center;margin-bottom: 15px;color: rgb(214, 130, 0);font-weight: bold;font-size: 15px;display: block; }

#txtmundojunkers {
	float: right;
	width: 100%;
	position: absolute;
	right: 0px;
	text-align: right;
	top: 170px;
	color: #D37A3D;
	font-size: 12px;	
}
@media (max-width:1184px) {

#txtmundojunkers { top: 140px;color: #D37A3D;font-size: 11px;padding-right: 15px;padding-left: 15px; }
}
@media (max-width:976px) {

#txtmundojunkers {
    top: 390px;
}
}

@media (max-width:767px) {
	.cat-title {
	    color: #333 !important;
	    border-color: transparent !important;
	background: #ffefc6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffefc6 0%, #ffc108 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffefc6 0%,#ffc108 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffefc6 0%,#ffc108 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefc6', endColorstr='#ffc108',GradientType=0 ); /* IE6-9 */
	}

	#block_top_menu {
    	margin-bottom: -5px;
	}

	.sf-menu > li > a {
	    border-color: transparent !important;
	}
	.sf-menu > li span::after {
	    color: #333 !important;
	}

	.sf-menu {
    border-left: 0px;
    border-right: 0px;
	}
}

@media (max-width:754px) {
	#htmlcontent_left ul li { width: 33.3%!important; } 
}



h2 {
	color: #338f9e;
	line-height: 2;
}

h3 {
	color: #e4973b;
	line-height: 2;
}

p {
	font-size: 14px;
	line-height: 1.5;
}

.qweb { float:right;float: right;position: relative;z-index: 999; }

#royinfoblock div.numeros, #royinfoblock div.textonumeros { color: #D37A3D; }
#royinfoblock div.numeros { font-size: 28px; }
#royinfoblock div.textonumeros {
	top: 6px;
	position: relative;	
}


.sf-menu > li > a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffefc6+0,ffc108+99 */
	background: #ffefc6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffefc6 0%, #ffc108 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffefc6 0%,#ffc108 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffefc6 0%,#ffc108 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefc6', endColorstr='#ffc108',GradientType=0 ); /* IE6-9 */
    border-color: #FFFFFF !important;
    color: #333 !important;
}



.sf-contener {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffefc6+0,ffc108+99 */
	background: #ffefc6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffefc6 0%, #ffc108 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffefc6 0%,#ffc108 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffefc6 0%,#ffc108 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefc6', endColorstr='#ffc108',GradientType=0 ); /* IE6-9 */
}

.sf-menu li ul.submenu-container {
    background-color: #fff !important;
    color: #333 !important;
}

.sf-menu > li > a:hover {
    border-color: #F9AE00 !important;
}

@media (max-width:767px) {

	.sf-menu > li > a {
		background: #f2f2f2 !important;
	    border-color: #FFFFFF !important;
	    color: #333 !important;
	}

	.sf-contener {
		background: #f2f2f2 !important;
	}


	.sf-menu > li span {
	  background: #e6e6e6 !important;
	  cursor: pointer;
	  height: 60px;
	  position: absolute;
	  right: 0;
	  text-align: center;
	  top: 0;
	  width: 60px;
	  z-index: 2;
	}

	.sf-menu li ul.menu-mobile {
	  border-radius: 0 !important;
	  box-shadow: none !important;
	  display: none;
	  left: 0;
	  top: 0;
	  z-index: 99;
	}	

	.sf-menu li ul.menu-mobile {
	  background-color: #fff !important;
	}	

	.sf-menu > li > a.menuhomelink::before {
	    background: transparent url("../img/icons-home-1.png") no-repeat scroll 0 top;
	}	
}


.columns-container-top, .columns-container-middle {
    background: #e1e1e1;
}

#index .columns-container-top, #index .columns-container-middle {
    background: #FFFFFF;
}


.columns-container-subtop { background: #ffbf00;margin-bottom: 20px;padding: 10px 0px 25px; }

#htmlcontent_top .bview-first .mask {
    background-color: #FFF !important;
}

#search_block_top #searchbox {
    top: 30px;
}

#search_block_top { 
	width: 33.333%;
}

#carttop { width: 13.333%; }

.disponescupon { position: relative;top: 5px;font-size: 11px;color: #939393; }
.disponescupon span { font-weight: bold; cursor: pointer; }

.block .title_block, .block h4 {
    background-color: #ffc001;
}

.block .title_block, .block h4, #htmlcontent_top .bview .binfo {
    color: #d2793f!important;
}

.block .title_block, .block h4, #layered_block_left .ui-slider .ui-slider-handle , .modezuparrow span,
#htmlcontent_top .bview .binfo {
    border-color: #e8a300!important;
}
#footer #newsletter_block_left h4 {
    color: #797979!important;
}


@media (max-width: 991px) {
	#royinfoblock div.triangle { display: none; }
	.infopanel {
	    background: #F9AE00 !important;
	    height: 80px;
	}
	#header_logo { padding-top: 0px; } 
	#search_block_top {
	    width: 100%;
	    margin-top: 0px;
	}
	#search_block_top #searchbox {
	    top: 0px;
	}

	#carttop { margin: 20px auto 20px; width: 100%; }
	#header .shopping_cart { top: 0px; }
	.head .row #logo_wrapper { margin-top: 50px; }

	#htmlcontent_top ul, #htmlcontent_home ul { display: block; }
	#htmlcontent_top ul li, #htmlcontent_home ul li,  #htmlcontent_top ul li:first-child, #htmlcontent_home ul li:first-child { margin: auto!important; width: 100%!important; }

	#htmlcontent_top ul li img, #htmlcontent_home ul li img {
	    height: auto;
	    max-width: 100%;
	    width: auto;
	    margin: auto;
	}	
	.columns-container-bottom {
    	background-image: url('../img/bgbottom_2.jpg');
	}
}

@media (max-width: 480px) {
	.head .row #logo_wrapper {
	    margin-top: 125px;
	}
	#royinfoblock div.numeros {
    	font-size: 18px !important;
	}

	#txtmundojunkers {
    top: 69%;
    max-width: 53%;
    left: 0px;
    text-align: left;
    font-size: 10px;
	}

	.columns-container-bottom {
    	background-image: none;
	}	
}


.sf-menu ul a, .sf-menu ul a:visited { color: #333!important; }


.sf-menu > li > ul > li > a {
    color: #333 !important;
    text-transform: none;
}


ul#ventajas { list-style:square;margin-left:25px; } ul#ventajas li { margin-bottom: 12px; }

#htmlcontent_top .bview h2 {
    color: #ffffff;
    padding: 30px 0 0;
}

#htmlcontent_top .bview .binfo {
    background-color: #fff !important;
    color: #333 !important;
    display: none;
}

.homeopinions h3{
	color: #000;
    line-height: 1.3;
    margin-bottom: 40px
}

.homeopinions ul{
	padding: 10px 0 10px 0
}

.homeopinions video{
	background-color: #fff;
	border: 1px solid #000;
	padding: 2px;
	width: 75%;
	height: auto;
}


@media (max-width: 480px) {
	.homeopinions video{
		width: 100%;
		height: auto;
	}	
}

.fix{
	clear: both;
	height: 0;
}

.pl_paypal{display:none}