/*** ESSENTIAL STYLES ***/
.sf-contener {
  clear: both;
  float: left;
    padding:0;
    height:65px;
    background:#ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-width:1px 1px 4px 1px;
    border-style:solid;
    border-color:#e5e5e5;
  width: 100%; }
@media (max-width: 991px) {
  .sf-contener {
    width: 100%; } }
@media (max-width: 767px) {
  .sf-contener {
      float: none;
      height:auto;
      display:inline-block;
    border:none } }

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu {
  position: relative;
  padding: 0;
  width: 100%; }
  @media (max-width: 767px) {
    .sf-menu {
        border-left:1px solid #e5e5e5;
        border-right:1px solid #e5e5e5;
        position:relative;
      display: none;
        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
        -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px ;
        border-radius: 5px; } }

.sf-menu ul {
  position: absolute;
  top: -999em;
  background: #ffffff; }
  @media (max-width: 767px) {
    .sf-menu ul {
      position: relative; } }

.sf-menu ul li {
  width: 100%; }

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
  float: left; }
  @media (max-width: 767px) {
      .sf-menu > li {
          float: none;
          position: relative;
          border-right: none; }
      .sf-menu > li:first-child {
          -webkit-border-radius: 5px 5px 0 0;
          -moz-border-radius: 5px 5px 0 0;
          -ms-border-radius: 5px 5px 0 0;
          -o-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
           }
      .sf-menu > li:last-child {
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
           }
      .sf-menu > li:first-child a {
          -webkit-border-radius: 5px 5px 0 0;
          -moz-border-radius: 5px 5px 0 0;
          -ms-border-radius: 5px 5px 0 0;
          -o-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
           }
      .sf-menu > li:last-child a {
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
           }
      .sf-menu > li span {
          position: absolute;
          height:60px;
          width:60px;
          text-align: center;
          right: 0;
          cursor:pointer;
          background:rgba(0,0,0,0.05);
          top: 0;
          z-index: 2; }
        .sf-menu > li span:after {
            line-height:60px;
            display: block;
            font-family: 'FontAwesome';
            font-size:24px;
            content: "\f067";
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            -o-transition: all 0.1s linear;
            transition: all 0.1s linear;  }
      .sf-menu > li span.active:after {
          content: "\f068";
      line-height:57px;
        cursor:pointer;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.8); } 
		}
  .sf-menu > li > a {
    font: 400 20px/22px "Oswald", sans-serif;
    text-transform: uppercase;
    color: #484848;
    display: block;
      border-bottom:4px solid #e5e5e5;
    padding: 19px 20px;
    -webkit-perspective:1000;
    -webkit-backface-visibility:hidden;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
	background: #ffffff;}
  .sf-menu > li.sfHover > a,
  .sf-menu > li > a:hover {
    color: #222222;
    background: #fafafa;
      border-bottom:4px solid #fa7c63;
    padding: 19px 20px;
    -webkit-perspective:1000;
    -webkit-backface-visibility:hidden; }
.sf-menu > li.sfHoverForce > a {
    color: #888888;
    background: #fafafa; }
.sf-menu > li.sfHoverForce > a:hover {
    background: #fafafa;
    border-color:#b4b4b4; }
	  .sf-menu > li > a.menuhomelink {
		padding: 20px 22px 21px;
        line-height: 0!important;
          border-bottom:4px solid #e5e5e5;
          -webkit-border-radius: 5px 0 0 5px;
          -moz-border-radius: 5px 0 0 5px;
          -ms-border-radius: 5px 0 0 5px;
          -o-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
		background: #ffffff; }
	  .sf-menu > li > a.menuhomelink:before {
        content:" ";
        height:19px;
        width:20px;
        -webkit-transition: all 0.100s linear;
        -moz-transition: all 0.100s linear;
        -o-transition: all 0.100s linear;
        transition: all 0.100s linear;
        background: url(../img/icons-home.png) no-repeat 0 bottom transparent;
        display:inline-block; }
	  .sf-menu > li.sfHover > a.menuhomelink:before,
	  .sf-menu > li > a.menuhomelink:hover:before, .sf-menu > li.sfHoverForce > a.menuhomelink:before { }
	  .sf-menu > li.sfHover > a.menuhomelink,
	  .sf-menu > li > a.menuhomelink:hover, .sf-menu > li.sfHoverForce > a.menuhomelink {
          border-bottom:4px solid #fa7c63;
        background: #fafafa; }
.sf-menu > li > a.menuhomelink:hover::before { background-position: 0px 0px; }
@media (min-width: 768px) and (max-width: 1199px) {
    .sf-menu > li > a,
    .sf-menu > li.sfHover > a,
    .sf-menu > li > a:hover {
        font: 400 17px/18px "Oswald", sans-serif;
        padding: 21px 9px; } }
@media (min-width: 768px) and (max-width: 1199px) {
    .sf-menu > li > a.menuhomelink,
    .sf-menu > li > a.menuhomelink:hover {
        padding: 20px 18px 21px 18px; } }

@media (max-width: 767px) {
    .sf-menu > li > a,
    .sf-menu > li.sfHover > a,
    .sf-menu > li > a:hover {
        margin-top:0;
        padding: 17px 20px; }
    .sf-menu > li > a.menuhomelink,
    .sf-menu > li.sfHover > a.menuhomelink,
    .sf-menu > li > a.menuhomelink:hover,
    .sf-menu > li.sfHoverForce > a.menuhomelink {
        padding: 18px 20px 19px 20px;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }
}


.sf-menu li li li a {
  display: inline-block;
  position: relative;
  color: #333!important;
  font: 400 13px/13px Arial, sans-serif;
  padding-bottom: 10px; }
  .sf-menu li li li a:before {
 }
  .sf-menu li li li a:hover {
    color: #fa7c63; }

.sf-menu li ul.submenu-container {
  display: none;
  left: 0;
  top: 64px;
  /* match top ul list item height */
  z-index: 99;
  background-color:#ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important; }
@media (max-width:767px) {
    .sf-menu li ul.menu-mobile {
        display: none;
        left: 0;
        top: 0!important;
        z-index: 99;
        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
        -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; } }
            .sf-menu li ul.submenu-container:before {
                display:block;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                position: absolute;
                width:1170px;
                height:100%;
                top:0;
                left:-1px;
                z-index:-1;
                border-color:#e5e5e5;
                border-style: solid;
                border-width: 1px 1px 4px 1px;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                .sf-menu li ul.submenu-container:before {
                    width:970px;
                }
            }
            @media (min-width: 768px) and (max-width: 991px) {
                .sf-menu li ul.submenu-container:before {
                    width:720px;
                }
            }
            @media (max-width: 768px) {
                .sf-menu li ul.submenu-container:before {
                    display:none;
                }
            }




  @media (max-width: 767px) {
    .sf-menu li ul {
      top: 0; } }

.sf-menu li li ul {
  position: static;
  display: block !important;
  opacity: 1 !important;
  background: none;
    padding: 16px 0 0 0;
  border:none;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; }

.sf-menu li li li ul {
  padding: 0 0 0 20px; }

.sf-menu li li li ul {
  width: 220px; }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

.sf-menu > li > ul {
  padding: 26px 30px 31px;
  width: 100%; }
@media (max-width: 767px) {
  .sf-menu > li > ul {
    display:none; } }
  .sf-menu > li > ul > li > a {
    text-transform: uppercase;
    font: 400 18px/20px "Oswald", sans-serif;
    color: #FFF!important; }
    .sf-menu > li > ul > li > a:hover {
      color: #fa7c63; }

.sf-menu > li > ul > li {
  float: left;
  width: 20%;
    margin-bottom:18px;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .sf-menu > li > ul > li {
      width: 50%; } }
  @media (max-width: 479px) {
    .sf-menu > li > ul > li {
      width: 100%; } }
  /*@media (min-width: 768px) {*/
    /*.sf-menu > li > ul > li.first-in-line-lg {*/
      /*clear: left; } }*/
  @media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
      clear: left; } }

.sf-menu li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
/*  overflow: hidden; */
  padding-right: 0; }
  .sf-menu > li > ul > li.category-thumbnail > div {
    float: left;
    padding-left: 8px;
    width: 50%; }
    @media (max-width: 479px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        text-align: center; } }
    .sf-menu > li > ul > li.category-thumbnail > div:first-child {
        padding-right:8px;
      padding-left: 0; }
    @media (max-width: 479px) {
    .sf-menu > li > ul > li.category-thumbnail > div:first-child {
        padding-right:0;
      padding-left: 0; } }
    .sf-menu > li > ul > li.category-thumbnail > div img {
        border:1px solid #e5e5e5;
        max-width: 100%;
      display: block; }

.sf-menu li.cat-desc {
    width:100%;
    margin-top:18px;
}


.cat-title {
  display: none; }
  @media (max-width: 767px) {
    .cat-title {
      display: block;
      font: 400 18px/22px "Oswald", sans-serif;
      text-transform: uppercase;
      color: #484848;
      padding: 19px 20px;
      background: #ffffff;
      position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border-width:1px 1px 4px 1px;
        border-style:solid;
        border-color:#e5e5e5; }
      .cat-title:after {
        display: block;
          font-family: 'FontAwesome';
          font-size:24px;
          line-height: 21px;
        content: "\f0c9";
        position: absolute;
        right: 22px;
        top: 22px;
          -webkit-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear; }
      .cat-title.active:after {
          -moz-transform:rotate(180deg);
          -webkit-transform:rotate(180deg);
          -o-transform:rotate(180deg);
          -ms-transform:rotate(180deg);
          filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=180); } }

 /* If Android */
@media (max-width: 767px) {
.android #block_top_menu.fixed {
    background: none!important;
    position:fixed;
}
.android #block_top_menu {
    position:relative;
}
.android #block_top_menu .cat-title {
    width:100%!important;
    position:inherit;
}
.android #block_top_menu.fixed .cat-title {
    width:100%!important;
    position:inherit;
    display:block;
    z-index:12000;
}
}

#searchbox p {
  display:flex; }
.sf-menu li.sf-search {
  background: #ffffff;
  border: none; }
  .sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 34px;
    line-height: 34px;
	width:222px;
    background-color: #f2f2f2;
    margin: 11px 10px 0 0;
    font-size: 13px;
    color: #9c9b9b;
    border: none; }
	@media (min-width: 767px) and (max-width: 991px) {
	  .sf-menu li.sf-search input {
        display:none;
        width:222px;
		margin: 11px 4px 0 0; }
      .sf-menu li.sf-search:hover input {
        display:block;
        width:222px;
        margin: 11px 4px 0 0; } }
  .sf-menu li.sf-search .button {
	background: none;
	height: 34px;
	width:34px;
    margin-top:11px;
    border: none; }
	  .sf-menu li.sf-search .button span {
		background: url(../img/menusearch.png) no-repeat 0 0;
		display: block;
		height: 34px;
		width:34px;
		line-height: 34px;
		text-indent:-99999px;
		border: none;
		opacity: 0.65;
		filter: alpha(opacity=65); 
		-webkit-transition: all 0.2s linear;  /* Chrome 1-25, Safari 3.2+ */
		-moz-transition: all 0.2s linear;  /* Firefox 4-15 */
		-o-transition: all 0.2s linear;  /* Opera 10.50ï¿½12.00 */
		transition: all 0.2s linear; } /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ 
		  .sf-menu li.sf-search .button:hover span {
			opacity: 1;
			filter: alpha(opacity=1); }


.sf-contener {
    border-color: #FFF !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    border-bottom: 5px solid #FFF !important;
}
